<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109641224107-tpqktsevaeg9sica8at7crofcpvbv0kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109641224107-tpqktsevaeg9sica8at7crofcpvbv0kq</string>
	<key>API_KEY</key>
	<string>AIzaSyCGsYRmiqwaVjrJaS7wbtNbsqLRggS8Ou4</string>
	<key>GCM_SENDER_ID</key>
	<string>109641224107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevin14767.trucklogistics.beta</string>
	<key>PROJECT_ID</key>
	<string>truckinglogistics-b28e6</string>
	<key>STORAGE_BUCKET</key>
	<string>truckinglogistics-b28e6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109641224107:ios:4d4e9e53cafa984b784cee</string>
</dict>
</plist>